/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Custom Design*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter+Tight:wght@300&family=Karla:wght@200;300&family=Merriweather:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&family=Oswald:wght@200;300;600&family=Poppins:wght@100;200;300;400;600&family=Raleway:wght@200;300&family=Roboto+Mono:wght@100;200&family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1{
    background-color:#111010;
    padding-top: 20px;
    padding-bottom: 50px;
}

.nav-bar li{
    color:#767474;
    font-size: 16px;
    margin-left: 20px;
}


.login-button{
background-color: #0c8bfd;
font-size: 16px;
width: 120px;
height: 40px;
border-radius: 20px;
color: #ffffff;
}

.main-text-1{
    font-size: 60px;
    color: #fff;
    font-weight:700;
    width: 80%;
}
.main-text-1 span {
    color: #0c8bfd;
    font-style: italic;
  
}

.sub-text-1{
    color: #767474;
    font-size: 20px;
    width: 80%;
    padding-top: 20px;
}
.get-started-button{
background-color: #0c8bfd;
font-size: 20px;
width: 180px;
height: 60px;
border-radius: 40px;
color: #ffffff;
}
.get-started-button:hover{
    background-color: #fff;
    color: #0c8bfd;
    font-weight: bold;
}
.try-start-free-button{
background-color:#111010;
font-size: 20px;
width: 180px;
height: 60px;
border-radius: 40px;
color: #ffffff;
border: 2px solid #ffffff;
margin-left: 30px;
}
.try-start-free-button:hover{
    background-color: #fff;
    color: #111010;
    font-weight: bold;
}
.button{
display: flex;
padding-top: 40px;
}

.main-div{
    display: flex;
    padding-top: 40px;
}


.section-2{
    background-color: #1d1c1c;
    padding: 40px 150px;
}
.section-3{
    background-color:#ffffff;
    padding: 100px 150px;
}

.main-text-2{
    font-size: 50px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}
.sub-text-2{
    font-size: 20px;
    color: #767474;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 20px;
}
.parent{
    padding-top: 150px;
}
.child{
    width: 30%;
    height: 280px;
    border: 2px solid #767474;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
.child > img {
    padding: 20px 0;

}
.child-main-para{
    font-size: 25px;
    font-weight: bold;
}
.child-sub-para{
    font-size: 20px;
    color: #767474;
    margin-top: 10px;
}

.child-2 {
    background-color: #111010;
    margin-bottom: 70px;

}
.child-2 .child-main-para{
    color: #ffffff;
}
.child-1:hover{
    background-color: #111010;
    color: #fff;
}
.child-3:hover{
    background-color: #111010;
    color: #fff;
}


.main-text-3{
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 50px;
}

.box{
    width: 450px;
    height: 40px;
    background-color: #0c8bfd;
    border-radius: 40px;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin-top: 15px;
}
.box-2, .box-3, .box-4, .box-5{
background-color: #fff;
border: 1px solid #111010;
color: black;
font-weight: bold;
}
.box-2:hover{
background-color: #0c8bfd;
color: #fff;
font-weight: lighter;
border: none;
 }

.box-3:hover{
background-color: #0c8bfd;
color: #fff;
font-weight: lighter;
border: none;
}

.box-4:hover{
background-color: #0c8bfd;
color: #fff;
font-weight: lighter;
border: none;
}


.box-5:hover{
background-color: #0c8bfd;
color: #fff;
font-weight: lighter;
border: none;
}

.big-box{
    width: 400px;
    height: 440px;
    border: 1px solid black;
    background-color:#111010;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    
}


.small-box{
    width: 340px;
    height: 15px;
    padding: 15px;
    background-color: #1d1c1c;
    border-radius: 40px;
    color: #767474;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.dot{
    width: 20px;
    height: 20px;
    background-color:#767474;
    border-radius: 50%;
    margin-right: 20px;
    
}

.small-box:hover{
    background-color: #fff;
    color: black;
}

.section-4{
    background-color: #111010;
    padding-top: 80px;
}
.main-text-4{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 60%;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 80px;
}



.vertical-box{
    width: 280px;
    height:580px ;
    background-color: #fff;
    padding: 15px;
    border-radius: 30px;
    margin-left: 30px;
}
.main-text-5{
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: left;
}
.main-text-6{
    font-size: 40px;
    color: black;
    text-align: left;
    font-weight: bold;
    padding: 20px 0;
}
.span-2{
    color: #767474;
}
.sub-text-3{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

hr{
    height: 2px;
    background-color: #767474;
}

.vertical-box-info{
    display: flex;
    align-items: center;
    color: #767474;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.vertical-box-info img{
    margin-right: 10px;
}
.select-btn{
background-color: #0c8bfd;
font-size: 20px;
width: 270px;
height: 50px;
border-radius: 40px;
color: #ffffff;
border: none;
margin: 0 auto;
margin-top: 20px;
}
.list{
    padding-top: 20px;
}
.vb-2{
    background-color: #0c8bfd;
}
.white{
    color: white;
}
.sb-2{
    background-color: #fff;
    color: #0c8bfd;
    font-weight: bold;
}
.grey{
    color: #d7d1d1;
}
.vertical-box-section{
    display: flex;
    justify-content: center;
}
.grey-hr{
    height: 2px;
    background-color: #d7d1d1;
}
.list-vb-2, .list-vb-3{
    padding-top: 0;
}

.section-5{
    padding-top: 100px;
}
.main-text-7{
    font-size: 50px;
    font-weight: bold;
    color: black;
    width: 40%;
    
}
.sub-text-4{
    font-size: 20px;
    color: #767474;
    width: 40%;
}
