/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom Design */
body {
    line-height: 1.5;
    font-size: 16px;
    overflow-x: hidden;
    font-family: sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header */
/* Nav-bar */
.nav-bar{
    padding-top: 32px;
}
.nav-links ul>li{
margin-left: 30px;
/* font-weight: bold; */
}
.nav-links ul> li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.free-trial{
    color:#722ed1;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #722ed1;
    border-radius: 25px;
    padding: 12px 40px;
    margin-left: 30px;
}
.free-trial:hover{
    background-color: #722ed1;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
header{
    background-color: rgb(231, 253, 248);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
    padding-bottom: 200px;
}
/* Content section */
.content{
    padding-top: 100px;
}
.version{
    width: 250px;
    /* height: 50px; */
    background-color: #d9d7dc;
    color: #722ed1;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 20px;
}
.version-span{
    color: #722ed1;
    text-decoration: underline;
    cursor: pointer;
}
.main-text-1{
    font-size: 70px;
    font-weight: bold;
    color: black;
    width: 85%;
    padding: 30px 0;
    line-height: 1;
}
.sub-text-1{
    color: #767b7f;
    font-size: 20px;
    width: 80%;
}
.btn-section{
    padding-top: 30px;
}
.btn-section .free-trial{
    background-color: #722ed1;
    color: #ffffff;
    font-weight: bold;
}
.btn-section .free-trial:hover{
    background-color: #fff;
    color: #722ed1;
    border: 2px solid #722ed1;
    cursor: pointer;
}
.learn-more{
    color:#722ed1;
    font-size: 16px;
    font-weight: bold;
    background-color: #d9d7dc;
    /* border: 2px solid #722ed1; */
    border-radius: 25px;
    padding: 12px 40px;
    margin-left: 30px;
    border: none;
}
.learn-more:hover{
    background-color: #722ed1;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

/* Main Body */
/* Big Data Content */

.big-data-content{
    padding-top: 120px;
}
.qubly{
    width: 150px;
    background-color: #dde5eb;
    padding: 5px 15px;
    font-size: 20px;
    color: #722ed1;
    border-radius: 25px;
    margin: 0 auto;
    
}
.main-text-2{
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding:  20px 0;
}
.sub-text-2{
    color: #767b7f;
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

/* Three Steps */
.three-steps{
padding-top: 80px;
}
.col{
width: 30%;
text-align: center;
padding: 10px;
}
.main-text-3{
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
}
.sub-text-3{
    font-size: 16px;
    color: #767b7f;
}
/* Best Stack Section */

.best-stack{
    padding-top: 100px;
}
.best-stack-content{
    margin-left: 100px;
}
.product-team{
    width: 220px;
    background-color: #dde5eb;
    padding: 5px 15px;
    font-size: 20px;
    color: #722ed1;
    border-radius: 25px;
    /* margin: 0 auto; */
}

/* Data driven pipeline section */
.main-text-4{
    font-size: 40px;
    font-weight: bold;
    /* margin: 0 auto; */
    padding:  20px 0;
}
.sub-text-4{
    color: #767b7f;
    font-size: 20px;
    width: 90%;
    /* margin: 0 auto; */
    /* text-align: center; */
}


.engineering-team{
    width: 250px;
    background-color: #dde5eb;
    padding: 5px 15px;
    font-size: 20px;
    color: #722ed1;
    border-radius: 25px;
}
.data-driven-pipelines{
    padding-top: 100px;
}


.profile-section{
    clip-path: polygon(0 35%, 100% 0%, 100% 61%, 0 96%);
    background-color: rgb(234, 241, 234);
    padding: 400px 0;
}
.sub-text-5{
    font-size: 25px;
    color: black;
    /* z-index: 1; */
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.sub-text-6{
    font-weight: bold;
}
.profile-pic{
    padding: 20px 0;
}
.profile{
    text-align: center;
    margin:0  auto;
    padding-bottom: 20px;
}
.logo-section{
    padding: 40px 100px;
 } 

 /* Sign-up-section */
 .qubly-logo-box{
    width: 100%;
 }
 .main-text-6{
    font-size: 40px;
    font-weight: bold;
    color: black;
    width: 70%;
    padding-bottom: 30px;
 }
 .sub-text-7{
    color: #767b7f;
    font-size: 20px;
    font-weight: lighter;
    /* margin-right: 40px; */
     text-align: center;
 }
 .row{
    padding-top: 70px;
    
 }
 .row img {
    margin-right: 120px;
 }
 .form-box{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #dde5eb;
    padding: 20px 40px;
 }

 .main-text-7{
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
 }
 .start-your-free-trial{
    background-color: #722ed1;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.9;
 }
 .start-your-free-trial:hover{
    background-color: #fff;
    color: #722ed1;
    border: 2px solid #722ed1;
    font-weight: bold;
    cursor: pointer;
 }
 .input-box{
    padding: 15px 20px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 5px;
 }
 .span{
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
 }
 .google-btn{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
 }
 .sub-text-7{
    font-size: 20px;
    color: #767b7f;
    margin: 0 auto;
 }
 .login{
    color: #722ed1;
    cursor: pointer;
 }

 /* Footer */
 footer{
    padding: 150px 0;
 }
 .list{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
 }
 .footer-info{
    width: 30%;
    margin-left: 20px;
 }
 .footer ul >li{
    margin-top: 10px;
    cursor: pointer;
}
.footer ul > li:hover{
    text-decoration: underline;
}
.first,.second, .third, .fourth, .fifth{
    font-weight: bold;
    color: black;
    font-size: 20px;

}

.footer{
align-items: flex-start;
}
.footer-info{
    display: flex;
    flex-direction: column;
    width: 180px;
    justify-content: space-between;
}
.footer-heading{
    padding: 20px 0;
}
