/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

/* Custom Design */
* {
    margin: 0;
    padding: 0;
}

body {
     height: 100vh;
    font-family:'Orbitron' , 'Poppins', sans-serif ; 
  }
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 32px;
}
/* Navbar Section */
.navbar-container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.list li{
    font-size: 22px;
    margin-left: 32px;
    font-family:'Orbitron' ;
}
.list li:first-child{
    font-weight: bold;
    text-decoration: underline 3px;
}
.list-item:hover{
    font-weight: bold;
    text-decoration: underline;
}

.button-group{
    display: flex;
    flex-direction: row;
}
.nav-button{
width: 110px;
height: 15px; 
padding: 18px 70px;
border: 3px solid black;
border-radius: 15px;
font-size: 20px;
background-color: #ffffff;
color: #1f1f1f;
display: flex;
justify-content: center;
align-items: center;
}
.search-icon{
margin-right: 25px;
}
/* Hero Banner Section */

.hero-container>div>img{
    position: absolute;
    height: 450px;
    left: 70px;
    bottom: 80px;
    z-index: 2;
    
}
.square{
    position: absolute;
    bottom:10px;
    left:80px;
    z-index: 1;
}

.star{
  position: absolute;
  top: 130px;
  right: 50px;
}
.star>img{
    width: 60px;
}
.hero-container .star:nth-child(3){
    position: absolute;
   top: 550px;
   left: 600px;
}
.hero-container .star:nth-child(3)>img{
 width: 45px;
}

.globe{
    position: absolute;
    top: 100px;
    left: 720px;
}
.globe>img{
    width: 70px;
}
.hero-container-right{
position: absolute;
top: 200px;
left: 500px;
text-align: center;
}


.hero-heading{
    font-size: 55px;
    font-weight: bold;
    color: #1f1f1f;
    font-family:'Orbitron';
}

.hero-description{
    font-size: 15px;
    color: grey;
    font-family:'poppins';
    margin: 20px 150px;
}

.button-email{
padding: 4px 10px;
border: 2px solid black;
border-radius: 12px;
font-size: 15px;
font-family: 'Orbitron';
color: #1f1f1f;
text-align: center;
margin-top: 50px;
white-space: nowrap;
}

.button-join{
    padding: 4px 10px;
    border: 2px solid black;
    border-radius: 12px;
    font-size: 15px;
    font-family: 'Orbitron';
    background-color: #1f1f1f;
    color: #ffffff;
    margin-left: 10px;
}

.contact-heading{
    font-size: 20px;
    color: grey;
    font-weight: lighter;
    margin-top: 50px;
    position: absolute;
    top:280px;
    right: 360px;
}

.icons{
    position: absolute;
    top: 310px;
    left: 350px;
    margin-top: 50px;
}
.icons>span>img{
    margin: 5px;
    width: 33px;
}
